body{
    margin: 0px;
    font-family: Poppins;
    background-color: #e7e7e7;
    margin-bottom: 10px;
}   

a {
    text-decoration: none;
    color: black;
}

.navigation-bar{
    background-color: #8338EC;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-buttons {
    float: left;
    display: block;
    color: white;
    background: #8338EC;
    border: none;
    padding: 14px 20px;
    text-decoration: none;
    font-size: medium;
    font-weight: 800;
    border-radius: 12px;
}

.nav-buttons:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.right{
    margin-left: auto;
}

#login-button{
    margin-left: auto;
    background: #FF006E;
    border-radius: 12px;
    margin-right: 9px;
}

#signup-button{
    background: #3A86FF;
    border-radius: 12px;
}

.login-div{
    background-color: white;
    display: flex;
    width: 450px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 12px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;    
}

.inputs-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
}

.inputs-login p {
    font-size: larger;
    font-weight: bold;
}

.inputs-login button {
    border: none;
    margin-top: 20px;
    background: #FFBE0B;
    border-radius: 12px;
    padding: 10px 15px;
    color: black;
    font-weight: bold;
} 

.inputs-login button:hover{
    filter: brightness(0.9);
    cursor: pointer;
}

.inputs-login button:active{
    filter: brightness(1.2);
}

.infos-login{
    background: rgb(237, 237, 237);
    border-radius: 3px;
    border: none;
    margin-top: 10px;
    width: 250px;
    height: 20px;
    padding: 5px 10px;
}

.infos-login:hover{
    filter: brightness(0.9);
}

.edit-users{
    display: flex;
    justify-items: center;
    justify-content: center;
    margin-top: 20px;
}

.edit-button{
    background: #FB5607;
    border: none;
    padding: 10px;
    margin-left: 10px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.edit-button:hover{
    cursor: pointer;
    filter: brightness(0.9);
}

.user{
    display: block;
    align-items: center;
    align-content: center;
    background: white;
    justify-content: center;
    width: 300px;
    height: auto;
    margin: auto;
    margin-top: 10px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.info-div {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.create-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.form-div {
    text-align: left;
}


h3 {
    text-align: center;
}

#manager:hover {
    cursor: pointer;
}

#seller:hover {
    cursor: pointer;
}

.market-div {
    display: flex;
    width: 450px;
    height: 450px;
    background: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.market-div:hover{
    cursor: pointer;
}

.market-div img {
    width: 200px;
    height: 200px;
}

.market-div p {
    margin-left: 25px;
    font-weight: bold;
    font-size: large;
}

h2 {
    margin-left: 25px;
}

