{% extends "estoque/layout.html" %}
{% block title %}
Criar Usuário
{% endblock %}
{% block content %}
<h3>Criar Usuário</h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="create-user">
    <form method="POST" class="createUser-form" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-div">
            <label for="name">Nome:</label> <input class="text-field" type="text" id="name" name="name"> <br><br>
            <label for="email">Email:</label> <input class="text-field" type="e-mail" id="email" name="email"> <br><br>
            <label for="password">Senha:</label> <input class="text-field" type="password" id="password" name="password"> <br><br>

            <label for="seller">Função:</label><br>
            <input type="radio" id="seller" name="role" value="seller">
            <label for="seller">Seller</label><br>
            <input type="radio" id="role" name="role" value="manager">
            <label for="manager">Manager</label>
            <br><br>
        </div>
            <button type="submit" id="create-user-button" class="save btn btn-default options-button">Criar Usuário</button>
        
    </form>
</div>

{% endblock %}