{% extends "estoque/home copy.html" %}
{% block title %}
Deletar produto
{% endblock %}
{% block content %}
<p>deletar produto</p>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% for product in stock %}
<!-- TODO GABI: Fazer um card para cada produto -->
<div class="user">
    <form method="POST" class="abrirConta-form" action="">
        {% csrf_token %}
        <input type="hidden" name="product_name" value="{{ product.name }}">
        <p>{{ product.name }}</p>
        <button type="submit" class="btn btn-danger">Deletar</button>
    </form>
    <br>
{% endfor %}
{% endblock %}