<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Estoque</title>
</head>
<body>
    <div class="navigation-bar">
        <button class="nav-buttons">Home</button>
        <button class="nav-buttons">Perfis</button>
        <button class="nav-buttons">Produtos</button>
        <button class="nav-buttons">Marketplaces</button>
        <button class="nav-buttons">Relatórios</button>
        <button class="nav-buttons" id="login-button">Login</button>
        <button class="nav-buttons" id="signup-button">Cadastro</button>
    </div>
</body>
</html>