{% extends "estoque/home copy.html" %}
{% block title %}
Marketplaces
{% endblock %}
{% block content %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="market-div">
    <img src="https://s2.glbimg.com/LIR5Gw_QErL8qciCKIcYGHJwagU=/600x0/filters:quality(70)/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2022/K/1/9vZ04ySKmL6xXh265V8g/logo-amazon-quadradinho.png" alt="logo amazon">
    <p>Amazon</p>
</div>

<div class="market-div">
    <img src="https://99prod.s3.amazonaws.com/uploads/678e6c2b-7539-4881-bb6f-22aded41d92f/novo%20logo.JPG" alt="logo mercado livre">
    <p>Mercado Livre</p>
</div>

<div class="market-div">
    <img src="https://down-br.img.susercontent.com/file/br-50009109-2e3301fdd34755e5e0f48c608ba6fc16" alt="logo shopee">
    <p>Shopee</p>
</div>
{% endblock %}