{% extends "estoque/layout.html" %}
{% block title %}
Cadastro    
{% endblock %}
{% block content %}
<div class="login-div">
    <div class="inputs-login">
     <p>Insira os dados para criar sua conta</p>
     <input class="infos-login" id="user-name" type="text" placeholder="Nome">
     <input class="infos-login" id="user-email" type="text" placeholder="Email">
     <input class="infos-login" id="user-pass" type="text" placeholder="Senha">
     <button id="confirm-login">Confirmar</button>
    </div>
     
 </div>
{% endblock %}